@using System.Security.Claims
@model Portfolio.Models.Blog

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    ViewData["Title"] = "Mike Robinson's Site - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    TempData["CurrentBlogId"] = Model.Id;
}

@if (ViewData.ContainsKey("BadWords"))
{
    var badWords = TempData["BadWords"] as List<string>;
    var badWordsString = string.Join(", ", badWords!);
    var badWordAlert = $"You have more than 5 bad words in your form, please look for {badWordsString}.";
    <partial name="_StatusMessage" for="@badWordAlert"/>
}
<link rel="stylesheet" href="~/css/custom.css"/>
<div class="container">
    <!-- Begin Edit Blogs -->
    <h1>Edit</h1>

    <h4>Blog</h4>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <input asp-for="Id"/>
                    <input asp-for="AuthorId" value="@Model.AuthorId"/>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @if (Model.FileName == null)
                {
                    <div class="form-group">
                        <div id="image-box" class="image-container"></div>
                        <div class="my-4">
                            <div id="slider" class="ep-slider-bar w-100 h-auto"></div>
                        </div>
                        <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <div id="image-box" class="image-container">
                            <img id="image" alt="blog picture" src="@Model.FileName"/>
                        </div>
                        <div class="my-4">
                            <div id="slider" class="ep-slider-bar w-100 h-auto"></div>
                        </div>
                        <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                    </div>
                }
                <div class="form-group">
                    <label class="control-label">Image (svg, jpeg, gif, and png files.)</label>
                    <input type="file" asp-for="Image" class="form-control"/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="control-label">Manage Categories</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" id="CategoryEntry"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col w-100">
                                    <button type="button" class="btn btn-primary btn-sm w-100" name="Add">Add</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-primary btn-sm w-100" name="delete">Delete</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <select class="w-100" size="5" name="CategoryValues" id="CategoryList" multiple></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input id="confirm-btn" type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Hidden("Categories", ViewData["CategoryValues"]!);

@section Scripts {
    <script src="~/js/customBlog.js"></script>
    <script src="~/js/customCropper.js"></script>
}