@{
    Layout = null;
}

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>That's an error...</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Normalize CSS --> 
        <link rel="stylesheet" href="~/css/normalize.css">

        <!-- Main CSS -->         
        <link rel="stylesheet" href="~/css/main.css">

        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="~/css/bootstrap.min.css">

        <!-- Animate CSS --> 
        <link rel="stylesheet" href="~/css/animate.min.css">

        <!-- Font-awesome CSS-->
        <link rel="stylesheet" href="~/css/font-awesome.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="~/css/style.css">

        <!-- Modernizr Js -->
        <script src="js/modernizr-2.8.3.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://www.microsoft.com/en-us/edge">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="wrapper">
            <div class="error-blog-page">
                <div class="cloud1-img" id="cloud1-img">
                    <img src="~/imgs/7.png" class="img-responsive" alt="404">
                </div> 
                <div class="cloud2-img" id="cloud2-img">
                    <img src="~/imgs/8.png" class="img-responsive" alt="404">
                </div>
                <div class="bird-img1" id="bird-img">
                    <img src="~/imgs/9.png" class="img-responsive" alt="404">
                </div>
                <div class="cloud3-img" id="cloud1-img">
                    <img src="~/imgs/7.png" class="img-responsive" alt="404">
                </div> 
                <div class="cloud4-img" id="cloud2-img">
                    <img src="~/imgs/8.png" class="img-responsive" alt="404">
                </div>
                <div class="bird-img2" id="bird-img">
                    <img src="~/imgs/9.png" class="img-responsive" alt="404">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="error-top-wrapper">                               
                                <img src="~/imgs/lock.svg" class="img-responsive" alt="404"> 
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="error-bottom-wrapper">                                
                                <p>You do not have access to this part of the site.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error-bottom-bg"> 
                    <a href="https://mikemrobinsondev.com" class="error-btn-3">Go Home</a>                               
                    <img src="~/imgs/10.png" class="img-responsive" alt="404">                    
                </div>                
            </div>
        </div>        
        <!-- jquery-->  
        <script src="~/js/jquery-2.2.4.min.js" type="text/javascript"></script>

        <!-- Plugins js -->
        <script src="~/js/plugins.js" type="text/javascript"></script>
        
        <!-- Bootstrap js -->
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- WOW JS -->     
        <script src="~/js/wow.min.js"></script>
        
        <!-- Custom Js -->
        <script src="~/js/main.js" type="text/javascript"></script>

    </body>
</html>