@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Mike Robinson's Site - Access denied";
}
<div class="container my-5">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>