@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Mike Robinson's Site - Confirm email";
}


<div class="container my-5">
    <h1>Confirm email</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
    <h3>Thank you for confirming your email, you may now login.</h3>
</div>