@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Mike Robinson's Site - Confirm email change";
}


<div class="container my-5">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
</div>