@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Mike Robinson's Site - Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/FormStyle.css"/>
<div class="container my-5">
    <h2>Forgot your password</h2>
    <hr/>
    <div class="row">
        <div class="ccol-12 col-md-10 col-lg-7 col-xl-6 form-section">
            <form class="form-form" method="post">
                <h3 class="mb-0">Please enter your email</h3>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg default-btn">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}