@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Mike Robinson's Site - Forgot password confirmation";
}

<div class="container my-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>