@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Mike Robinson's Site - Reset password confirmation";
}

<div class="container my-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>